{% extends 'ingoodhands/base.html' %}
{% block content %}
    <header>
        {% include header_template %}
    </header>

    <section class="login-page">
      <h2>Załóż konto</h2>
      <form method="post">
          {% csrf_token %}
          <div style="font-size: 15px; color: darkred ">
          {% if form.errors %}
              <p>
                {% for key,value in form.errors.items %}
                  {{ value|escape }}
                {% endfor %}
              </p>
          {% endif %}
          </div>

          <div class="form-group">{{ form.first_name }}</div>
          <div class="form-group">{{ form.last_name }}</div>
          <div class="form-group">{{ form.username }}</div>
          <div class="form-group">{{ form.password1 }}</div>
          <div class="form-group">{{ form.password2 }}</div>

        <div class="form-group form-group--buttons">
          <a href="{% url 'login-view' %}" class="btn btn--without-border">Zaloguj się</a>
          <button class="btn" type="submit">Załóż konto</button>
        </div>
      </form>
    </section>

{% endblock %}
